---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import TechStack from '../components/TechStack.astro';
import Contact from '../components/Contact.astro';

---

<Layout>
	<section class="interactive-background">
		<Header/>
		<Hero/>
		<About/>
		<Projects/>
		<TechStack/>
		<Contact/>
	</section>
	<script>
		const background = document.querySelector<HTMLElement>(".interactive-background");
		background?.addEventListener("pointermove", (event) => {
			const rect = background.getBoundingClientRect();

			background.style.setProperty("--mouse-x", `${event.clientX - rect.left}px`);
			background.style.setProperty("--mouse-y", `${event.clientY - rect.top}px`);
		});
	</script>
</Layout>
