<header class="sticky top-0 z-50 bg-gray-900">
  <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-center px-6 py-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-3">
      <a href="#about" class="inline-block text-sm/6 font-semibold text-white transition-all duration-200 hover:scale-110 hover:text-indigo-400">Sobre mí</a>
      <a href="#projects" class="inline-block text-sm/6 font-semibold text-white transition-all duration-200 hover:scale-110 hover:text-indigo-400">Proyectos</a>
      <a href="#tech-stack" class="inline-block text-sm/6 font-semibold text-white transition-all duration-200 hover:scale-110 hover:text-indigo-400">Tecnologías</a>
      <a href="#contact" class="inline-block text-sm/6 font-semibold text-white transition-all duration-200 hover:scale-110 hover:text-indigo-400">Contacto</a>
    </div>
  </nav>
</header>
